{% extends 'admin_home.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
<style>
    input{
    color: white !important;
    font-size: 1rem !important;
    }
    th{
        text-align: center !important;
    }
</style>



<div class="row">
    <div class="col-md-12 main-datatable">
        <div class="card_body">
            <div class="row d-flex">
            <div class="col-12  mt-3" style="text-align: center;">
                    <h6 style="font-size: xx-large;">Canceled/Returned Report</h6>
            </div> 
            <div class="col-12 col-lg-3 mt-3 mb-3" style="text-align: center;">
                <h6 style="font-size: large;">Date Range</h6>
                <form action="" method="post">
                {% csrf_token %}
                <div class="mt-4">
                <label  for="startdate">From</label>
                <input onchange="startdate(this.value)"  type="date" name="start-date" id="startdate" class="text-dark" required>
                <label  for="enddate">to</label>
                <input onchange="enddate(this.value)"  type="date" name="end-date" id="enddate" class="text-dark" required>
                </div>
                <div>
                <button name="datefilter" class="mt-2" >submit</button>
                </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 mt-3 mb-3" style="text-align: center;">
                <h6 style="font-size: large;">Month Range</h6>
                <form action="" method="post">
                {% csrf_token %}
                <div class="mt-4">
                <label  for="startmonth">From</label>
                <input onchange="startmonth1(this.value)"  type="month" name="start-month" id="startmonth" class="text-dark" required>
                <label  for="endmonth">to</label>
                <input onchange="endmonth1(this.value)"  type="month" name="end-month" id="endmonth" class="text-dark" required>
                </div>
                <div>
                <button name="monthfilter" class="mt-2" >submit</button>
                </div>
                </form>
            </div>
            <div class="col-12 col-lg-2 mt-3 mb-3" style="text-align: center;">
                <h6 style="font-size: large;">Year</h6>
                <form action="" method="post">
                {% csrf_token %}
                <div class="mt-4">
                    <select class="form-control" name="year" id="dYear" required>
                        <option value="" selected disabled>Select the year..</option>
                        <option value="2020-01-01" >2020</option>
                        <option value="2021-01-01" >2021</option>
                        <option value="2022-01-01" >2022</option>
                       </select>
                <div>
                <button name="yearfilter" class="mt-2" >submit</button>
                </div>
                </form>
            </div>
        </div>
            <!-- <div class="overflow-x"> -->
                <div class="table-responsive">
                <table  id="filtertable7" class="table  dataTable no-footer " style="color:#fff; text-align: center;" >
                    <thead>
                        <tr>
                            <th style="min-width:50px;color: #fff;">Order ID</th>
                            <th style="min-width:100px;">Date</th>
                            <th style="min-width:150px;">Customer</th>
                            <th style="min-width:150px;">Product</th>
                            <th style="min-width:150px;">Price</th>
                            <th style="min-width:150px;">Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                            <tr>
                                <td>{{ sale.order.id }}</td>
                                <td>{{ sale.date }}</td>
                                <td>{{ sale.order.user.username }}</td>
                                <td>{{ sale.item }}</td>
                                <td>₹{{ sale.price|floatformat:2 }}</td>
                                <td>{{ sale.order.payment}}</td>
                            </tr>  
                            {% endfor %}     
                    </tbody>
                </table>

            </div>
        </div>
    </div>
<!-- </div> -->
</div>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script> -->

{% endblock %}
{% block js %}
<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
<script>
    $(document).ready(function() {
        $('#filtertable7').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                { extend: 'copy', className: 'btn-primary' },
                { extend: 'csv', className: 'btn-primary' },
                { extend: 'excel', className: 'btn-primary' },
                { extend: 'pdf', className: 'btn-primary' },
                { extend: 'print', className: 'btn-primary' },
            ]
        } );
    } );
</script>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<script>
    var todayDate = new Date();
    var month = todayDate.getMonth() + 1; 
    var year = todayDate.getFullYear() ; 
    if (month < 10) {
        month = "0" + month //'0' + 4 = 04
    }
    var maxMonth = year + "-" + month;
    console.log(maxMonth)
    document.getElementById("endmonth").setAttribute("max", maxMonth);
    document.getElementById("startmonth").setAttribute("max", maxMonth);

    function startmonth1(startmonth){
        document.getElementById("endmonth").setAttribute("min", startmonth);
        console.log(startmonth)
       }
    
       function endmonth1(endmonth){
        document.getElementById("startmonth").setAttribute("max", endmonth);
        end = endmonth
       }

  </script>
{% endblock %}