{% extends 'user_base.html' %}
{% load static %}
{% block content %}
<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Cart</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="{% url 'user_home' %}">Home</a></li>
                                <li class="active" aria-current="page">Cart</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
{% if order.get_cart_items <= 0 %}
<div class="empty-cart-section section-fluid">
    <div class="emptycart-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
                    <div class="emptycart-content text-center">
                        <div class="image">
                            <img class="img-fluid" src="{% static 'user_home/assets/images/emprt-cart/empty-cart.png' %}" alt="">
                        </div>
                        <h4 class="title">Your Cart is Empty</h4>
                        <h6 class="sub-title">Sorry Mate... No item Found inside your cart!</h6>
                        <a href="{% url 'user_home' %}" class="btn btn-lg btn-golden">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<!-- ...:::: Start Cart Section:::... -->
<div class="cart-section">
    <!-- Start Cart Table -->
    <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="table_page table-responsive">
                            <table>
                                <!-- Start Cart Table Head -->
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead> <!-- End Cart Table Head -->
                                <tbody id="cart-tbody">
                                    <!-- Start Cart Single Item-->
                                    {% for item in items %}
                                    <tr class="selected-items">
                                        <td class="product_remove">
                                            {% if request.user.is_authenticated %}
                                            <a id="{{item.id}}" class="link-delete" style="cursor: pointer;">
                                            {% else %}
                                            <a id="{{item.product.id}}" class="link-delete-guest" style="cursor: pointer;">
                                            {% endif %}
                                                <i class="fa fa-trash-o"></i></a>
                                        </td>
                                        <td class="product_thumb"><a href="{% url 'details' item.product.id %}"><img
                                                    src="{{ item.product.imageURL }}"
                                                    alt=""></a></td>
                                        <td class="product_name"><a>{{ item.product.name }}</a></td>
                                        <td class="product-price">₹{{ item.product.price|floatformat:2 }}</td>
                                        {% if request.user.is_authenticated %}
                                        <td >
                                            <div class="row">
                                            <div class="col-7" style="display: inline; text-align: end; padding-right: 0px;"><label>Quantity</label><span style="margin-left: 3px;">x</span>
                                                <span class="product_quantity" id="{{item.id}}-" style="font-weight: bold; font-size: 18px;">{{ item.quantity }}</span>
                                            </div>
                                            <div class="col-5" style="display: inline; text-align: start; ">
                                                <img data-remove="#{{item.id}}-remove" data-id = "{{item.id}}-" data-total = "{{item.id}}--" data-product={{item.product.id}} data-action="add" class="update-cart" src="{% static 'user_home/assets/images/icons/arrow-up.png' %}" alt="" style="height: 15px; width: 15px; display: block; cursor: pointer;">
                                                {% if item.quantity > 1 %}
                                                <img id="{{item.id}}-remove" data-remove="#{{item.id}}-remove" data-id = "{{item.id}}-" data-total = "{{item.id}}--" data-product={{item.product.id}} data-action="remove" class="update-cart" src="{% static 'user_home/assets/images/icons/arrow-down.png' %}" alt="" style="height: 15px; width: 15px; display: block; cursor: pointer;">
                                                {% else %}
                                                <img id="{{item.id}}-remove" data-remove="#{{item.id}}-remove" data-id = "{{item.id}}-" data-total = "{{item.id}}--" data-product={{item.product.id}} data-action="remove" class="update-cart d-none" src="{% static 'user_home/assets/images/icons/arrow-down.png' %}" alt="" style="height: 15px; width: 15px; display: block; cursor: pointer;">
                                                {% endif %}
                                            </div>
                                        </div>
                                        </td>
                                        <td class="product_total" id="{{item.id}}--" >₹{{ item.get_total|floatformat:2 }}</td>
                                        {% else %}
                                        <td >
                                            <div class="row">
                                            <div class="col-7" style="display: inline; text-align: end; padding-right: 0px;"><label>Quantity</label><span style="margin-left: 3px;">x</span>
                                                <span class="product_quantity" id="{{item.product.id}}-" style="font-weight: bold; font-size: 18px;">{{ item.quantity}}</span>
                                            </div>
                                            <div class="col-5" style="display: inline; text-align: start; ">
                                                <img  data-remove="#{{item.product.id}}-remove" data-id = "{{item.product.id}}-" data-total = "{{item.product.id}}--" data-product={{item.product.id}} data-action="add" class="update-cart" src="{% static 'user_home/assets/images/icons/arrow-up.png' %}" alt="" style="height: 15px; width: 15px; display: block; cursor: pointer;">
                                                {% if item.quantity > 1 %}
                                                <img id="{{item.product.id}}-remove" data-remove="#{{item.product.id}}-remove" data-id = "{{item.product.id}}-" data-total = "{{item.product.id}}--" data-product={{item.product.id}} data-action="remove" class="update-cart" src="{% static 'user_home/assets/images/icons/arrow-down.png' %}" alt="" style="height: 15px; width: 15px; display: block; cursor: pointer;">
                                                {% else %}
                                                <img id="{{item.product.id}}-remove" data-remove="#{{item.product.id}}-remove" data-id = "{{item.product.id}}-" data-total = "{{item.product.id}}--" data-product={{item.product.id}} data-action="remove" class="update-cart d-none" src="{% static 'user_home/assets/images/icons/arrow-down.png' %}" alt="" style="height: 15px; width: 15px; display: block; cursor: pointer;">
                                                {% endif %}
                                            </div>
                                        </div>
                                        </td>
                                        <td class="product_total" id="{{item.product.id}}--" >₹{{ item.get_total|floatformat:2 }}</td>
                                        {% endif %}
                                    </tr> 
                                    {% endfor %}
                                    <!-- End Cart Single Item-->
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="cart_submit">
                            <button class="btn btn-md btn-golden" type="submit">update cart</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Cart Table -->

    <!-- Start Coupon Start -->
    <div class="coupon_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="coupon_code right mt-5" data-aos="fade-up" data-aos-delay="400">
                        <h3>Cart Totals</h3>
                        <div class="coupon_inner">
                            <div class="cart_subtotal">
                                <p>Total Items</p>
                                <p class="cart_amount" id="cart-items">{{ order.get_cart_items }}</p>
                            </div>
                            <div class="cart_subtotal">
                                <p>Bag Total</p>
                                <p class="cart_amount" id="bag-total">₹{{ order.get_cart_total|floatformat:2 }}</p>
                            </div>
                            <hr>
                            <div class="cart_subtotal">
                                <p>Total</p>
                                <p class="cart_amount" id="order-total">₹{{ order.get_cart_total|floatformat:2 }}</p>
                            </div>
                            <div class="checkout_btn">
                                <a href="{% url 'checkout'%}" class="btn btn-md btn-golden">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> 
{% endif %}
{% endblock content %}
{% block js %}
<script>
    $(".link-delete").on("click", function(){
        var $this = $(this);
        swal({
            title: "Are you sure?",
            text: "This item will remove from your cart!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if(willDelete){
                swal("Item removed from the cart.",{
                    icon: "success",
                }).then(() => {
                    $.ajax({
                        type: "GET",
                        data: {
                            'id':$this.attr("id"),  
                        },
                
                        url : "cart_item_delete",
                        success: function(response){
                            console.log($this) 
                            if(response.message == "success"){
                                $this.parents(".selected-items").remove();
                                $(".item-count").html(response.cartItems);
                                $("#cart-items").html(response.cartItems);
                                $("#bag-total").html(response.bag_total);
                                $("#order-total").html(response.total);    
                            }else{

                            }                                     
                        }
                    });
                })
            }else{
                /* swal("Your imaginary file is safe!");*/
            }
          })
    })

    $(".link-delete-guest").on("click", function(){
        var $this = $(this);
        var productId = $this.attr("id");
        swal({
            title: "Are you sure?",
            text: "This item will remove from your cart!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if(willDelete){
                swal("Item removed from the cart.",{
                    icon: "success",
                }).then(() => {
                    delete cart[productId]
                    document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
                    $.ajax({
                        type: "GET",
                        data: {  
                        },
                        url : "delete_item_guest",
                        success: function(response){
                            console.log($this) 
                            console.log(response.message)
                            if(response.message == "success"){
                                $this.parents(".selected-items").fadeOut("fast", function(){
                                    $this.parents(".selected-items").remove();
                                    $(".item-count").html(response.cartItems);
                                    $("#cart-items").html(response.cartItems);
                                    $("#bag-total").html(response.bag_total);
                                    $("#order-total").html(response.total);
                                    });
                            }else{

                            }
                           
                                                              
                        }
                    });
                })
            }else{
                /* swal("Your imaginary file is safe!");*/
            }
          })

    })
</script>
{% endblock %}
