{% extends 'admin_home.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-12 main-datatable">
    <div class="card_body">
        <div class="row d-flex">
        <div class="col-12  mt-3" style="text-align: center;">
                <h6 style="font-size: large;">CATEGORIES</h6>
        </div> 
    </div>
        <div class="row d-flex">
            <div class="col-4 createSegment"> 
             <a class="btn dim_button create_new" href="{% url 'cat_create' %}"> <span class="glyphicon glyphicon-plus"></span> Create New</a>
            </div>
            <div class="col-8 add_flex">
                <div class="form-group searchInput">
                    <label for="email">Search:</label>
                    <input type="search" class="form-control" id="filterbox4" placeholder=" ">
                </div>
            </div> 
        </div>
        <!-- <div class="overflow-x"> -->
            <div class="table-responsive">
            <table  id="filtertable4" class="table  dataTable no-footer " style="color:#fff; text-align: center;" >
                <thead>
                    <tr>
                        <th style="min-width:50px;color: #fff;">ID</th>
                        <th style="min-width:150px;">Name</th>
                        <th style="min-width:150px;">Update</th>
                        <th style="min-width:150px;">Delete</th>
                    </tr>
                </thead>
                <tbody>
                  {%  for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>
                              <a href="{% url 'cat_update' category.id %}" class="mdi mdi-border-color btn-icon-prepend btn btn-primary btn-icon-text" style="font-size: 1.6rem;"></a>
                            </td>
                            <td>
                              <a onclick=deleted(event) href="{% url 'cat_delete' category.id %}" class="mdi mdi-delete btn-icon-prepend btn btn-danger btn-icon-text" style="font-size: 1.6rem;"></a>
                            </td>
                        </tr>  
                    {% endfor %}      
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
{% endblock %}