{% extends 'user_base.html' %}
{% load static %}
{% block content %}
<style>
    .address-bar:hover{
        background-color: #c9e1ff7a;
    }

</style>
   <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Checkout</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'user_home' %}">Home</a></li>
                                    <li><a href="{% url 'cart' %}">Cart</a></li>
                                    <li class="active" aria-current="page">Checkout</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Checkout Section:::... -->
    <div class="checkout-section">
        <div class="container">
            <div class="row">
            <!-- </div> -->
            <!-- Start User Details Checkout Form -->
            <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mt-3">
                        <h3 id="choose-address">Choose Shipping Address</h3>
                            {% for address in address %}
                            <a onclick="selectedAddress('#{{ address.id }}','{{address.id}}')" class="address-select" style="cursor: pointer;">   
                            <div id="{{ address.id }}" class="address-bar address-sel mt-2 col-12 pt-3 pl-3 border border-dark" >
                            <div class="d-flex">
                                <p class="badge text-uppercase bg-light text-wrap text-secondary mr-auto">home</p>
                                </div>
                                <p class="ml-2 text-dark" style="font-size: 15px; font-weight: 900;">{{ address.name }}<span class="ml-3">{{ address.phone }}</span></p>
                                <address class="ml-2 text-dark">
                                    {{ address.address }}, {{ address.appartment_no }}, {{ address.city }}, {{ address.state }}
                                    <br>
                                    <span style="font-weight: 900;">{{ address.zipcode}}</span>
                                </address>
                            </div>
                            </a>
                            {% endfor %}
                            <hr id="hr">
                            <button onclick="newAddress()" id="add_address" class="btn btn-md btn-black-default-hover mt-2" style="width: 100%;" data-bs-toggle="collapse" data-bs-target="#checkout_login"
                            aria-expanded="true">+ Add New Address</button>
                        
                        <div id="checkout_login" class="collapse" data-parent="#checkout_login">
                            <h3>Create Address</h3>
                        <form id="form" action=" " method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="default-form-box">
                                            <label>Name <span>*</span></label>
                                            <input type="text" name="name" value="{{address.name}}" required>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="default-form-box">
                                            <label>Mobile Number<span>*</span></label>
                                            <input type="text" name="phone" value="{{address.phone}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Street address <span>*</span></label>
                                        <input type="text" name="street" value="{{address.address}}" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Appartment/House No</label>
                                        <input type="text" name="appartment" placeholder="Appartment,suit,units etc.(optional)" value="{{address.appartment_no}}">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Town / City <span>*</span></label>
                                        <input type="text" name="city" value="{{address.city}}" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>State<span>*</span></label>
                                        <input type="text" name="state" value="{{address.state}}" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Zipcode<span>*</span></label>
                                        <input type="text" name="zipcode" value="{{address.zipcode}}" required>
                                    </div>
                                </div>
                                <div class="order_button pt-3">
                                    <button class="btn btn-md btn-black-default-hover" type="submit" name="address_create">Submit</button>
                                </div>
                             </form>
                             <div class="order_button pt-3" style="display: inline;">
                                <button onclick="showAddress()" class="btn btn-md btn-secondary text-white" data-bs-toggle="collapse" data-bs-target="#checkout_login"
                                        aria-expanded="true">Cancel</button>
                                </div>
                        </div>
                    </div>

                    <div class="coupon_code left mt-5" data-aos="fade-up" data-aos-delay="200">
                        <h3>Coupon</h3>
                        <div class="coupon_inner">
                            <form action="" method="post">
                            {% csrf_token %}
                            <p>Enter your coupon code if you have one.</p>
                            <input id="coupon" class="mb-2" placeholder="Coupon code" type="text" value="{{ code }}" name="coupon" required>
                            <button type="submit" name="coupon_apply" class="btn btn-md btn-golden">Apply Coupon</button> 
                            </form>
                            {% if order.order_coupon %}
                            <a onclick="coupon_remove('{{order.id}}')" style="display: table; text-align: right; border-bottom: none; cursor: pointer;">Remove Coupon</a>
                            {% endif %}
                            <div id="content-wrapper" class="d-flex flex-column">
                                {% include 'messages.html' %}
                            </div>
                            <a style="text-align: left; border-bottom: none; margin-bottom: 0; display: table; padding-top: 10px; cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#coupon_list"
                            aria-expanded="true">
                                View all Coupons
                            </a>
                            <div  id="coupon_list" class="collapse row" data-parent="#coupon_list">
                                {% for coupon in coupons %}
                                <div class="col-12">
                                    <hr>
                                    <h6 id="{{coupon.id}}" class="text-dark" style="font-weight: 700;">{{ coupon.code }}</h2>
                                    <p>{{ coupon.description }}</p>
                                    <button onclick="selected('{{coupon.id}}')" class="btn btn-sm btn-golden" data-bs-toggle="collapse" data-bs-target="#coupon_list"
                                    aria-expanded="true">Select</button>   
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    </div>
                    <div class="col-lg-6 col-md-6 mt-3">
                            <h3>Your order</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                        <tr>
                                            <td> {{ item.product.name }} <strong> × {{ item.quantity }}</strong></td>
                                            <td> ₹{{ item.get_total|floatformat:2 }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Bag Total</th>
                                            <td>₹{{ order.get_cart_total|floatformat:2 }}</td>
                                        </tr>
                                        {% if order.order_coupon %}
                                        <tr>
                                            <th>Bag Discout</th>
                                            <td>₹{{ order.offer|floatformat:2 }}</td>
                                        </tr>
                                        {% endif %}
                                        <!-- {% if wallet > 0 %}
                                        <tr>
                                            <th>Wallet Balance</th>
                                            <td>₹{{ wallet|floatformat:2 }}<br>
                                                <a style="text-decoration: underline;" href="">Redeem</a>
                                            </td>
                                        </tr>
                                        {% endif %} -->
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            {% if order.order_coupon or order.wallet %}
                                            <td><strong id="total">₹{{ order.total|floatformat:2 }}</strong></td>
                                            {% else %}
                                            <td><strong id="total">₹{{ order.get_cart_total|floatformat:2 }}</strong></td>
                                            {% endif %}
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment_user d-none">
                                <div class="order_button pt-3">
                                    <h4 style="color: #000;">Choose You Payment Method</h4>
                                    <button id="make-payment" class="btn btn-md btn-black-default-hover mt-2" style="width: 100%;" type="submit">Cash On Delivery</button>
                                    <button id="rzp-button1" class="btn btn-md btn-black-default-hover mt-2" style="width: 100%; background: #0058b3;">Razorpay</button>
                                    <div class="mt-3" id="paypal-button-container"></div>
                                    
                                </div>
                            </div>
                    </div>
                </div>
            </div> <!-- Start User Details Checkout Form -->
        </div>
    </div><!-- ...:::: End Checkout Section:::... -->

    
    <script>
        
        function selectedAddress(id, shipping){
            $('.address-sel').removeClass('border-success bg-light border-4');
            $('.address-sel').addClass('border-dark');
            $(id).removeClass('border-dark');
            $(id).addClass('border-success bg-light border-4');
            $('.payment_user').removeClass('d-none');
            submitAddress(shipping)  
        }

        function newAddress(){
            $('#add_address').addClass('d-none');
            $('.address-sel').addClass('d-none');
            $('#choose-address').addClass('d-none');
            $('#hr').addClass('d-none');
            $('.payment_user').addClass('d-none');
            
        }
        function showAddress(){
            $('#add_address').removeClass('d-none');
            $('.address-sel').removeClass('d-none');
            $('#choose-address').removeClass('d-none');
            $('#hr').removeClass('d-none');
            $('.address-sel').removeClass('border-success bg-light border-4');
            $('.address-sel').addClass('border-dark');
            
        }
    </script>

    <script src="https://www.paypal.com/sdk/js?client-id=Aa63fzrSHaqslrcCXiPoD5LaCiI5Won0iZx2cv5wZ0yxr7mkAih8zmbvALFo1IIS0Spw3Ox6tsCwqwlI&currency=USD"></script>
    
   

<script>
    window.onload = function(){
    var total = '{{order.total}}'
    if(total == 'None'){
        var total = '{{order.get_cart_total}}'
    }
    var paypalMethod = 'Paypal'
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                submitFormData(paypalMethod)

                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }


    }).render('#paypal-button-container');
}
</script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

    var total = '{{order.total}}'
    if(total == 'None'){
        var total = '{{order.get_cart_total}}'
    }
    var razropayMethod = 'Razropay'
     
    var options = {
        "key": "rzp_test_i5iSNZEU8h4lVg", // Enter the Key ID generated from the Dashboard
        "amount": total , // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "TimeVo",
        "description": "Make Payment",
        "image": "{% static 'user_home/assets/images/logo/logo_black.png' %}",
        "order_id": "{{ payment.id }}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            submitFormData(razropayMethod)
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }

</script>

<script>
    function submitAddress(id){
        window.shippingId = id
    }
    var total = '{{order.total}}'
    if(total == 'None'){
        var total = '{{order.get_cart_total}}'
    }
    csrftoken = form.getElementsByTagName("input")[0].value
    var cash = 'Cash'
    
    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData(cash)
    })
    
    function submitFormData(method){
        console.log('payment button clicked')
        console.log('{{payment.amount}}')

            var shippingId = window.shippingId
        
            var userFormData = {
                'fname': null,
                'lname': null,
                'email': null,
                'phone': null,
                'total': total,
                }

        var url = 'process_order'
        fetch(url,{
            method: 'POST',
            headers:{
                'content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'form':userFormData, 'shipping': shippingId, 'method': method})  
        })
        .then((response) => response.json())
        .then((data) =>{
            if (data == 'payment complete'){
                console.log('Success:', data);
                cart = {}
                document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
                window.location.href = "{% url 'order_complete' %}"
                }
            else if (data == 'out of stock'){
                cart = {}
                document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
                window.location.href = "{% url 'checkout' %}"
                }
            else if (data == 'not completed'){
                cart = {}
                document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
                window.location.href = "{% url 'checkout' %}"
                }
            else {
                cart = {}
                document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
                window.location.href = "{% url 'user_home' %}"
            }   
        }) 
    }

</script>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>


<script>
    function selected(id){
        var coupon = document.getElementById(id).innerHTML
        document.getElementById('coupon').value = coupon
    }
</script>

<script>
    function coupon_remove(id){
        var id = id
        $.ajax({
            type: "GET",
            data: {
                "orderId": id,
            },

            url : "coupon_delete",
            success: function(response){
                document.getElementById('coupon').value = ''
                location.reload()
                
            }
        });
    }
</script>


{% endblock content %}