{% extends 'user_base.html' %}
{% load static %}
{% block content %}
<style>
    .address-bar:hover{
        background-color: #c9e1ff7a;
    }

</style>
   <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Checkout</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'user_home' %}">Home</a></li>
                                    <li><a href="{% url 'cart' %}">Cart</a></li>
                                    <li class="active" aria-current="page">Checkout</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Checkout Section:::... -->
    <div class="checkout-section">
        <div class="container">
            <div class="row">
            <!-- </div> -->
            <!-- Start User Details Checkout Form -->
            <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mt-3">
                        <h3 id="choose-address">Choose Shipping Address</h3>
                            {% for address in address %}
                            <a onclick="selectedAddress('#{{ address.id }}','{{address.id}}')" class="address-select" style="cursor: pointer;">   
                            <div id="{{ address.id }}" class="address-bar address-sel mt-2 col-12 pt-3 pl-3 border border-dark" >
                            <div class="d-flex">
                                <p class="badge text-uppercase bg-light text-wrap text-secondary mr-auto">home</p>
                                </div>
                                <p class="ml-2 text-dark" style="font-size: 15px; font-weight: 900;">{{ address.name }}<span class="ml-3">{{ address.phone }}</span></p>
                                <address class="ml-2 text-dark">
                                    {{ address.address }}, {{ address.appartment_no }}, {{ address.city }}, {{ address.state }}
                                    <br>
                                    <span style="font-weight: 900;">{{ address.zipcode}}</span>
                                </address>
                            </div>
                            </a>
                            {% endfor %}
                            <hr id="hr">
                            <button onclick="newAddress()" id="add_address" class="btn btn-md btn-black-default-hover mt-2" style="width: 100%;" data-bs-toggle="collapse" data-bs-target="#checkout_login"
                            aria-expanded="true">+ Add New Address</button>
                        
                        <div id="checkout_login" class="collapse" data-parent="#checkout_login">
                            <h3>Create Address</h3>
                        <form id="form" action=" " method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="default-form-box">
                                            <label>Name <span>*</span></label>
                                            <input type="text" name="name" value="{{address.name}}" required>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="default-form-box">
                                            <label>Mobile Number<span>*</span></label>
                                            <input type="text" name="phone" value="{{address.phone}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Street address <span>*</span></label>
                                        <input type="text" name="street" value="{{address.address}}" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Appartment/House No</label>
                                        <input type="text" name="appartment" placeholder="Appartment,suit,units etc.(optional)" value="{{address.appartment_no}}">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Town / City <span>*</span></label>
                                        <input type="text" name="city" value="{{address.city}}" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>State<span>*</span></label>
                                        <input type="text" name="state" value="{{address.state}}" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Zipcode<span>*</span></label>
                                        <input type="text" name="zipcode" value="{{address.zipcode}}" required>
                                    </div>
                                </div>
                                <div class="order_button pt-3">
                                    <button class="btn btn-md btn-black-default-hover" type="submit" name="address_create">Submit</button>
                                </div>
                             </form>
                             <div class="order_button pt-3" style="display: inline;">
                                <button onclick="showAddress()" class="btn btn-md btn-secondary text-white" data-bs-toggle="collapse" data-bs-target="#checkout_login"
                                        aria-expanded="true">Cancel</button>
                                </div>
                        </div>
                    </div>

                    <div class="coupon_code left mt-5" data-aos="fade-up" data-aos-delay="200">
                        <h3>Coupon</h3>
                        <div class="coupon_inner">
                            <form id="coupon-form">
                            {% csrf_token %}
                            <p>Enter your coupon code if you have one.</p>
                            <input id="coupon" class="mb-2" placeholder="Coupon code" type="text" value="{{ order.order_coupon.code }}" name="coupon" required>
                            <button type="submit" name="coupon_apply" class="btn btn-md btn-golden">Apply Coupon</button> 
                            <span style="display: block;" id="coupon-message"></span>
                            </form>
                            <a id="coupon-remove" class="d-none" onclick="coupon_remove('{{order.id}}')" style="display: table; text-align: right; border-bottom: none; cursor: pointer;">Remove Coupon</a>
                            {% if order.order_coupon %}
                            <a id="coupon-remove2" class="coupon-remove" onclick="coupon_remove('{{order.id}}')" style="display: table; text-align: right; border-bottom: none; cursor: pointer;">Remove Coupon</a>
                            {% endif %}
                            <!-- <div id="content-wrapper" class="d-flex flex-column">
                                {% include 'messages.html' %}
                            </div> -->
                            <a style="text-align: left; border-bottom: none; margin-bottom: 0; display: table; padding-top: 10px; cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#coupon_list"
                            aria-expanded="true">
                                View all Coupons
                            </a>
                            <div  id="coupon_list" class="collapse row" data-parent="#coupon_list">
                                {% for coupon in coupons %}
                                <div class="col-12">
                                    <hr>
                                    <h6 id="{{coupon.id}}" class="text-dark" style="font-weight: 700;">{{ coupon.code }}</h2>
                                    <p>{{ coupon.description }}</p>
                                    <button onclick="selected('{{coupon.id}}')" class="btn btn-sm btn-golden" data-bs-toggle="collapse" data-bs-target="#coupon_list"
                                    aria-expanded="true">Select</button>   
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    </div>
                    <div class="col-lg-6 col-md-6 mt-3">
                            <h3>Your order</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                        <tr>
                                            <td> {{ item.product.name }} <strong> × {{ item.quantity }}</strong></td>
                                            <td> ₹{{ item.get_total|floatformat:2 }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Bag Total</th>
                                            <td>₹{{ bag_total|floatformat:2 }}</td>
                                        </tr>
                                        <tr id="bag-dicount" class="d-none">
                                            <th>Bag Discout</th>
                                            <td >₹<span id="order-offer">{{ order.offer|floatformat:2 }}</span></td>
                                        </tr>
                                        {% if order.coupon %}
                                        <tr id="bag-dicount2">
                                            <th>Bag Discout</th>
                                            <td>₹{{ order.offer|floatformat:2 }}</td>
                                        </tr>
                                        {% endif %}
                                        {% if wallet > 0 %}
                                        {% if order.wallet == False %}
                                        <tr id="balance">
                                            <th>Wallet Balance</th>
                                            <td>₹<span id="wallet-balance">{{ wallet|floatformat:2 }}</span><br>
                                                <a id="wallet-redeem" style="text-decoration: underline;cursor: pointer;">Redeem</a>
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <th>Wallet Redeemed</th>
                                            <td>₹<span>{{ order.wallet_amount|floatformat:2 }}</span><br>
                                                <a class="wallet-remove" style="text-decoration: underline;cursor: pointer;">Remove</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        <tr id="redeemed" class="d-none">
                                            <th>Wallet Redeemed</th>
                                            <td>₹<span id="wallet-used">{{ order.wallet_amount|floatformat:2 }}</span><br>
                                                <a class="wallet-remove" style="text-decoration: underline;cursor: pointer;">Remove</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        <tr class="order_total">
                                            <th>Order Total</th> 
                                            <td><strong >₹<span id="total">{{ order.get_cart_total|floatformat:2 }}</span></strong></td>
                                           
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment_user d-none">
                                <div class="order_button pt-3">
                                    <div>
                                        <a href="{% url 'payment' %}" class="btn btn-md btn-black-default-hover mt-2" style="width: 100%;">Proceed To Payment</a>
                                    </div>
                                    <!-- <h4 style="color: #000;">Choose You Payment Method</h4>
                                    <button id="make-payment" class="btn btn-md btn-black-default-hover mt-2" style="width: 100%;" type="submit">Cash On Delivery</button>
                                    <button id="rzp-button1" class="btn btn-md btn-black-default-hover mt-2" style="width: 100%; background: #0058b3;">Razorpay</button>
                                    <div class="mt-3" id="paypal-button-container"></div> -->
                                    
                                </div>
                            </div>
                    </div>
                </div>
            </div> <!-- Start User Details Checkout Form -->
        </div>
    </div><!-- ...:::: End Checkout Section:::... -->

    
    <script>
        
        function selectedAddress(id, shipping){
            $('.address-sel').removeClass('border-success bg-light border-4');
            $('.address-sel').addClass('border-dark');
            $(id).removeClass('border-dark');
            $(id).addClass('border-success bg-light border-4');
            $('.payment_user').removeClass('d-none');
            submitAddress(shipping)  
        }

        function newAddress(){
            $('#add_address').addClass('d-none');
            $('.address-sel').addClass('d-none');
            $('#choose-address').addClass('d-none');
            $('#hr').addClass('d-none');
            $('.payment_user').addClass('d-none');
            
        }
        function showAddress(){
            $('#add_address').removeClass('d-none');
            $('.address-sel').removeClass('d-none');
            $('#choose-address').removeClass('d-none');
            $('#hr').removeClass('d-none');
            $('.address-sel').removeClass('border-success bg-light border-4');
            $('.address-sel').addClass('border-dark');
            
        }
    </script>

{% endblock content %}
{% block js %}
<script>

    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

    function selected(id){
        var coupon = document.getElementById(id).innerHTML
        document.getElementById('coupon').value = coupon
    }

    function coupon_remove(id){
        var id = id
        $.ajax({
            type: "GET",
            data: {
                "orderId": id,
            },

            url : "coupon_delete",
            success: function(response){
                document.getElementById('coupon').value = ''
                $('#bag-dicount').addClass('d-none')
                $('#bag-dicount2').addClass('d-none')
                $('#coupon-message').html(response.label)
                $('#coupon-message').removeClass('text-danger')
                $('#coupon-message').addClass('text-success')
                $('#coupon-remove').addClass('d-none') 
                $('#total').html(response.total)
                $('#balance').removeClass('d-none')
                $('#wallet-balance').html(response.wallet)
                $('#redeemed').addClass('d-none')
                
            }
        });
    }

    $(document).on("submit","#coupon-form",function(e){
        e.preventDefault();
        $.ajax({
            type:"POST",
            url:'coupon_apply',
            data:{
                code:$('#coupon').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                if(response.message == "success"){
                    console.log(response.message)
                    $('#coupon').html(response.code)
                    $('#total').html(response.total)
                    $('#bag-dicount').removeClass('d-none')
                    $('#order-offer').html(response.offer)
                    $('#coupon-message').removeClass('text-danger')
                    $('#coupon-message').addClass('text-success')         
                    $('#coupon-message').html(response.label)
                    $('#coupon-remove').removeClass('d-none')
                    $('#coupon-remove2').addClass('d-none')
                    $('#balance').removeClass('d-none')
                    $('#wallet-balance').html(response.wallet)
                    $('#redeemed').addClass('d-none')
                    
                }else{
                    console.log(response.message)
                    $('#coupon').html('')
                    $('#coupon-message').addClass('text-danger')
                    $('#coupon-message').removeClass('text-success')
                    $('#coupon-message').html(response.label)

                }
                
            }
        })
    })

    $('#wallet-redeem').on("click", function(){
        $.ajax({
            type: "GET",
            data: {
            },
            url : "redeem_wallet",
            success: function(response){
                $('#wallet-used').html(response.redeemed)
                $('#total').html(response.total) 
                $('#redeemed').removeClass('d-none') 
                $('#balance').addClass('d-none') 
            }
        });
    })

    $('.wallet-remove').on("click", function(){
        $.ajax({
            type: "GET",
            data: {
            },
            url : "remove_wallet",
            success: function(response){
                $('#balance').removeClass('d-none')
                $('#wallet-balance').html(response.wallet)
                $('#total').html(response.total) 
                $('#redeemed').addClass('d-none') 
            }
        });
    })

    function submitAddress(id){
        shippingId = id
        $.ajax({
            type: "GET",
            data: {
                shippingId: shippingId,
            },
            url : "order_address",
            success: function(response){
                console.log(response)
            }
        });
    }

</script>
{% endblock %}