{% extends 'admin_home.html' %}
{% load static %}
{% block content %}
<div class="row">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center; font-size: 1.5rem;">ORDER ITEM DETAILS</h4>
        <div class="table-responsive mt-5">
          <table class="table" style="text-align: center;">
            <thead>
              <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Cancel</th>
              </tr>
            </thead>
            <tbody>
                {% for product in products %}
              <tr style="color: aquamarine;">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>₹{{ product.price|floatformat:2 }}</td>
                <td>
                    <a onclick=item_delete(event) href="{% url 'admin_orderItem_delete' product.id order.id %}" type="button" class="btn btn-danger btn-fw" style="    min-width: 100%; line-height: 2; vertical-align: auto;">Cancel</a>
                </td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

      function item_delete(event) {
        event.preventDefault();
        var link = event.currentTarget.href;
        swal.fire({
          title: "Are you sure?",
          text: "This item will be removed from the order!",
          icon: "warning",
          showConfirmButton: true,
          confirmButtonText: 'Delete',
          showCancelButton: true,
        })
          .then((result) => {
            if (result.isConfirmed) {
              swal.fire(
                "Item removed Successfully!",
                "success",
              ).then(() => {
                window.location = link;
              });
            } else {
              /* swal("Your imaginary file is safe!");*/
            }
          });
      }
</script>

{% endblock %}