{% extends 'admin_home.html' %}
{% load static %}
{% block content %}
<!-- <div class="container p-30"> -->
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                <div class="col-12  mt-3" style="text-align: center;">
                        <h6 style="font-size: large;">USERS</h6>
                </div> 
            </div>

                <div class="row d-flex">
                    <div class="col-12 add_flex">
                        <div class="form-group searchInput">
                            <label for="email">Search:</label>
                            <input type="search" class="form-control" id="filterbox" placeholder=" " >
                        </div>
                    </div> 
                </div>
                <!-- <div class="overflow-x"> -->
                    <div class="table-responsive">
                    <table  id="filtertable" class="table  dataTable no-footer " style="color:#fff;">
                        <thead>
                            <tr>
                                <th style="min-width:50px;">ID</th>
                                <th style="min-width:150px;">Userame</th>
                                <th style="min-width:150px;">First Name</th>
                                <th style="min-width:100px;">Last Name</th>
                                <th style="min-width:100px;">Email</th>
                                <th style="min-width:100px;">Phone</th>
                                <th style="min-width:150px;">Status</th>
                                <th style="min-width:150px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in user %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>
                                        {% if i.image %}
                                        <img src="{{i.imageURL}}" alt="" style="width: 50px; height: 50px;">
                                        {% else %}
                                        <img src="{% static 'user_home/assets/images/user/profile_default.jpg' %}" alt="" style="width: 50px; height: 50px;">
                                        {% endif %}
                                        <span class="ml-1">{{ i.username }}</span></td>
                                    <td>{{ i.first_name }}</td>
                                    <td>{{ i.last_name }}</td>
                                    <td>{{ i.email }}</td>
                                    <td>{{ i.phone }}</td>
                                    {% if i.is_active %}
                                    <td><span class="mode mode_on">Active</span></td>
                                    {% else %}
                                    <td><span class="mode mode_off">Blocked</span></td>
                                    {% endif %}
                                    <td>
                                        {% if i.is_active %}
                                        <a onclick=block(event) href="{% url 'block' i.id %}" type="button" class="btn btn-outline-danger btn-fw mt-2" style="line-height: 2;">Block</a>
                                        {% else %}
                                        <a onclick=unblock(event) href="{% url 'block' i.id %}" type="button" class="btn btn-outline-warning btn-fw mt-2" style="line-height: 2;">Unblock</a>
                                        {% endif %}
                                        <!-- <div class="btn-group">
                                            <a class="dropdown-toggle dropdown_icon" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown_more">
                                                <li>
                                                    {% if i.is_active %}
                                                    <a onclick=block(event) href="{% url 'block' i.id %}">
                                                        <i class="fa fa-ban"></i>Block
                                                    </a>
                                                    {% else %}
                                                    <a onclick=unblock(event) href="{% url 'block' i.id %}">
                                                        <i class="fa fa-ban"></i>Unblock
                                                    </a>
                                                    {% endif %}
                                                </li>  
                                            </ul>
                                        </div> -->
                                    </td>
                                </tr>  
                            {% endfor %}      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<!-- </div> -->
</div>
{% endblock %}