{% extends 'user_base.html' %}
{% load static %}
{% block content %}


<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Login</h3><a href="">
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="{% url 'user_home' %}">Home</a></li>
                                <li class="active" aria-current="page">Login</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...:::: Start Customer Login Section :::... -->
<div class="customer-login">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-12 col-md-12">
                <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                    <form action="" method="POST">
                        {%csrf_token %}
                        <div class="default-form-box">
                            <label>Username <span>*</span></label>
                            <input type="text" name = "username" required="">
                        </div>
                        <div class="default-form-box">
                            <label>Passwords <span>*</span></label>
                            <input type="password" name = "password" required="">
                        </div>
                        <div class="login_submit">
                            <button class="btn btn-md btn-black-default-hover mb-4" type="submit">login</button>
                            <label class="checkbox-default mb-4" for="offer">
                                <input type="checkbox" id="offer">
                                <span>Remember me</span>
                            </label>
                            <a href="{% url 'user_register' %}">New User?REGISTER</a>
                        </div>
                    </form>
                    <hr>
                    <form action="{% url 'user_otp' %}" method="post">
                        {%csrf_token %}
                        <div class="default-form-box">
                            <h3 class="breadcrumb-title" style="color: #000;">OTP LOGIN</h3>
                            <label>Phone <span>*</span></label>
                            <input type="text" name = "phone" required="">
                        </div>
                        <div class="login_submit">
                            <button class="btn btn-md btn-black-default-hover mb-4" type="submit">login</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--login area end-->
        </div>
    </div>
</div> <!-- ...:::: End Customer Login Section :::... -->


{% endblock content %}